In [5]:
import pandas as pd
import numpy as np
import random
random.seed(0)
seed = 0

In [18]:
df = pd.read_csv('data/train_conll_spanglish.csv', sep='\t', names=["id", "text", "label"])
df.head()

   id                                               text     label
0   1            So that means tomorrow cruda segura lol  positive
1   2                                Tonight peda segura   neutral
2   3       Eres tan mala vieja bruja interesada#jamming  negative
3   4                              Yo kiero Pretzels lol   neutral
4   5  Fuck that ni ke el me vaya a mantener toda la ...  negative

In [17]:
pd.DataFrame(df.label.value_counts())

          label
positive   7503
neutral    4968
negative   2529

In [21]:
df = pd.read_csv('data/train_conll_hinglish.csv', sep='\t', names=["id", "text", "label"])
df.head()

   id                                               text     label
0   3  @ AdilNisarButt pakistan ka ghra tauq he Pakis...  negative
1  41  Madarchod mulle ye mathura me Nahi dikha tha j...  negative
2  48  @ narendramodi Manya Pradhan Mantri mahoday Sh...  positive
3  64  @ Atheist_ Krishna Jcb full trend me chal rahi aa  positive
4  66  @ AbhisharSharma_@ RavishKumarBlog Loksabha me...  positive

In [22]:
pd.DataFrame(df.label.value_counts())

          label
neutral    5638
positive   5034
negative   4459